<!--<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>Its working........yahoo</p>
    </body>
</html>-->


<html>
    <head>
        <title>Shuravi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 11.Jan.2017, 11:30</p>
            <h2><a href="">My first post</a></h2>
            <p>Yaaay! But so far, our template only ever displays exactly the same information – whereas earlier we were talking about templates as allowing us to display different information in the same format.</p>
        </div>

        <div>
            <p>published: 11.Jan.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
